<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>eclass</title>
    </head>
    <body>
        <script src="https://unpkg.com/react@15/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

        <div id='root'></div>

        <script type="text/babel">
            var EclassListComponent = React.createClass({

                getInitialState: function() {
                    return {
                        eclassCollection: []
                    }
                },

                getEclassCollection: function() {
                    fetch('/api/v1/eclass')
                        .then( (response) => {
                            return response.json()
                        })
                        .then( (json) => {
                            var arr = JSON.parse(json)
                            this.setState({eclassCollection: arr})
                        })
                },

                componentWillMount: function() {
                    this.getEclassCollection()
                },

                render: function() {
                    var { eclassCollection } = this.state;

                    if (eclassCollection.length === 0) {
                        return (
                            <div><p>Eclass will show up here, make one!</p></div>
                        )
                    }

                    return (
                        <div>
                            {eclassCollection.map(eclass =>
                                <li key={eclass.id}>{eclass.name}</li>
                            )}
                        </div>
                    )
                }
            });

            ReactDOM.render(<EclassListComponent />, document.querySelector('#root'))
        </script>
    </body>
</html>
